.invoice-container {
    background-color: #ffffff;
    width: 650px;
    height: 500px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}

.total-block {
    width: 600px;
    margin-top: 100px;
    border: 1px, solid;
    display: block;
}

.total-span {
    float: right;
    font-weight: bold;
}

.error-block {
    width: 600px;
    margin-top: 125px;
    border: 1px, solid;
    display: block;
}

.input-error {
    width: 600px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
    color: red
}

.send-invoice-btn-div {
    width: 600px;
    margin-top: 150px;
    border: 1px, solid;
    display: block;
}

.send-invoice-btn {
    display: block;
    height: 34px;
    width: 150px;
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
    color: #ffffff;
    background-color: green;
    text-align: center;
    float: right;
}

.another-invoice-btn-div {
    width: 600px;
    margin-top: 50px;
    border: 1px, solid;
    display: block;
}

.another-invoice-btn {
    display: block;
    height: 34px;
    width: 300px;
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
    color: #ffffff;
    background-color: green;
    text-align: center;
}

@media screen and (max-width:420px){
    .invoice-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .send-invoice-btn-div {
        width: 100%;
    }

    .send-invoice-btn {
        width: 100%;
    }

    .another-invoice-btn-div {
        width: 100%;
    }

    .another-invoice-btn {
        width: 100%;
    }

    .total-block {
        width: 100%;
    }

    .total-span {
        float: right;
        font-weight: bold;
        margin-right: 6px;
    }

    .error-block {
        width: 100%;
    }

    .input-error {
        width: 100%;
    }
}
